<!-- pages/templates/pages/home.html -->

{% extends "base.html" %}

{% block page_content %}
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">JHU Digital Nudger</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>
  <div>
    <div class="card position-absolute top-50 start-50 translate-middle" style="width: 25rem; height: 9rem; text-align: center; padding-top: 10px;">
      <div class="card-body">
      
        <h4 class="card-text">Welcome to the JHU Digital Nudger.</h4>
    
      </div>
    </div>
  </div>
{% endblock page_content %}